.screen {
    display: none;    
}

.main-screen{
    width: 80%;
    height: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* Add more styles as per your design */
/* General Styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.screen {
    display: none;
}

/* Flashcard Styles */
.flashcard {
    width: 300px;
    height: 200px;
    perspective: 1000px;
    transition: transform 0.6s;     
}

.flip {
    transform: rotateY(180deg);
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    border-radius: 10px;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-front {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
}

.flashcard.flip .card-front {
    transform: rotateY(-180deg);
}

.flashcard.flip .card-back {
    transform: rotateY(0deg);
}

.card-back-content {
    transform: rotateY(180deg);
}

/* Buttons Style */
button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.btn-container {
    display: flex; /* Align buttons horizontally */
    width: 100%; /* Set to max size of the parent div */
}

.btn {
    flex-grow: 1; /* Each button takes equal space */
    border-right: none; /* Remove the right border to prevent double border */
    padding: 10px; /* Optional: Padding for button */
    text-align: center; /* Center the text */
    font-size: 16px; /* Optional: Font size */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.btn.left {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
     
    margin-right: 0px;   
}

.btn.right {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    
    border-right: 1px solid #ccc; /* Add right border for the last button */
    margin-left: 0px;
}

.btn.middle{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;

    margin-right: 0px;
    margin-left: 0px;
}

.rounded-circle{
    height: 42px;
}

ul{
    list-style-type: none;
}